#imagem {
	background-image: url("../Imagens/auto4.jpg");
	height: 625px;
	background-color: cover;
	background-position: center;
}
body	{
	width: 1351px;
}
h1	{
	text-transform: uppercase;
}
#conteudo {
	text-align: center;
	padding-top: 15%;
}
#sen {
	margin-left: 10px;
}
hr	{
	width: 500px;
	background-color: gray;
	height: 1px;
}
button	{
	text-transform: uppercase;
}
input	{
	width: 180px;
	border-radius: 10px;
	padding: 5px 10px;
	border: 1px solid black;
	
}