h1	{
	text-transform: uppercase;
	color: black;
}

hr	{
	width: 500px;
	background-color: gray;
}

button	{
	text-transform: uppercase;
}

input	{
	width: 180px;
	border-radius: 10px;
	padding: 5px 10px;
	border: 1px solid gray;
}

i 	{	
	font-size: 40px;
	color: black;
	padding-left: 10rem;
}

li 	{
	padding-right: 10rem;
}

#imagem {
	background-image: url("../Imagens/imglogin.jpg");
	height: 568px;
	background-color: cover;
	background-position: center;
} 

#conteudo {
	text-align: center;
	padding-top: 10%;
}